/* Importa las directivas esenciales de Tailwind CSS */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss';

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@theme {
  --color-primary: #19183b; /*azul oscuro profundo*/
  --color-secondary: #708993; /*gris azulado suave */
  --color-accent: #a1c2bd; /* verde azulado */
  --color-background: #e7f2ef; /* blanco verdoso */
}
