/* Importa las directivas esenciales de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes agregar estilos globales personalizados aquí */
/* body {
  @apply bg-gray-100 text-gray-900;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
} */
